/__pycache__/

production/png/*
production/json/*
production/abosrb/*

materials/dssp/*
materials/pdb/*
materials/rgb/*
materials/pickle/*
materials/question/

src/__pycache__/

src/funcs/__pycache__/
src/funcs/funcTes/
src/funcs/baks/

src/deepLearning/tests/
src/doMat/__pycache__/
src/doMat/baks/

src/findAHelix/__pycache__/
src/findAHelix/baks/

src/operateOfSQL/__pycache__/
src/operateOfSQL/baks/

src/operateOfPNG/__pycache__/
