production/png/*
materials/dssp/*
materials/pdb/*
materials/rgb/*
materials/pickle/*
discard/
src/__pycache__/
src/MatrixAndPNG/__pycache__/
src/DSSP/__pycache__/
src/funcs/__pycache__/
src/findAHelix/__pycache__/