production/png/*
materials/dssp/*
materials/pdb/*
materials/rgb/*
materials/pickle/*
src/__pycache__/
src/MatrixAndPNG/__pycache__/
src/DSSP/__pycache__/
src/funcs/__pycache__/
src/funcs/funcTes/
src/funcs/question/
src/findAHelix/__pycache__/